@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");
* {
  box-sizing: border-box;
}

html, body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  max-width: 90%;
  margin: 0 auto;
}

.main-header .menu {
  display: none;
}
.main-header .app-icons {
  position: absolute;
  max-width: 450px;
  top: 40%;
  right: 20px;
  opacity: 0.4;
}
.main-header .overlay {
  background: rgba(62, 209, 204, 0.9);
  padding: 0px 0px 80px 0px;
}

.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
}
.container header .logo {
  display: flex;
  align-items: center;
}
.container header .logo img {
  width: 50px;
  margin-right: 10px;
}
.container header .logo span {
  font-size: 40px;
  color: white;
  width: 50px;
}
.container header .nav a {
  display: inline-block;
  padding: 15px 20px;
  margin-left: 20px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}
.container header .nav a.active {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.content .content-wrapper {
  width: 500px;
}
.content .content-wrapper .blob {
  font-size: 50px;
  font-weight: 300;
  text-align: left;
  margin-bottom: 20px;
  color: white;
}
.content .content-wrapper .button-wrapper {
  margin-top: 50px;
  display: flex;
}
.content .content-wrapper .button-wrapper .button {
  margin-right: 20px;
  padding: 25px 30px;
  background: #ec2c82;
  color: white;
  text-transform: uppercase;
  border-radius: 50px;
  cursor: pointer;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 2px;
}
.content .content-wrapper .button-wrapper .button.ask {
  background: rgba(0, 0, 0, 0.4);
}
.content .content-wrapper .button-wrapper .button span {
  margin-left: 20px;
}

.footer {
  padding: 50px 0px;
}
/* First Header Section Styles */
.header1 {
  background-color: #f4f4f4; /* Light Grey */
  color: #333;
}

/* Second Header Section Styles */
.header2 {
  background-color: #fff; /* White */
  color: #333;
}
.social-icons img{
  height:  30px;
}
body {
margin: 0;
padding: 0;
}

.overlay {
background-color: rgba(255, 255, 255, 0.7); /* Adjust transparency here */
padding: 20px;
}
.box {
width: 200px;
height: 150px;
background-color: #fff; /* White background for boxes */
margin: 10px;
padding: 10px;
display: inline-block;
vertical-align: top;
}
  
.nav-second-part {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav h3 {
    font-weight: 700;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav button {
    height: 37px;
    width: 140px;
    font-weight: 400;
    border-radius: 25px;
    border: none;
    ;
    background-color: cadetblue;
    color: white;
    font-weight: 700;
}

/* here nav end */
.body-content {
    height: 330px;
    width: 100%;
    display: flex;
    border-bottom: px solid cadetblue;
}

.left-content {
    height: 180%;
    width: 9500%;
    padding: 42px 40px;
   background-image: url("doc.jpg");
         background-size: cover;
    background-position: center;
    background-blend-mode: white;
}

.left-content h2 {
    letter-spacing: 10px;
    padding-bottom: 18px;
    font-family: poppins;
    font-weight: 500;

}

.left-content h1 {
    font-weight: 900;
    font-family: poppins;
    padding-bottom: 14px;
    font-size: 45px;
    font-weight: 800;
    color: rgb(73, 71, 71);
    ;
    text-transform: capitalize;
    padding-bottom: 10px;
    line-height: 1.1;
}

.left-content button {

    height: 34px;
    width: 130px;
    /* border-radius: 24px; */
    border: none;
    background-color: cadetblue;
    color: white;
    position: relative;
    left: 120px;
    top: 10px;
    font-weight: 600;
}

.b_donate-etc {
    display: flex;
    ;
    justify-content: space-around;
    padding-top: 20px;
    width: 100%;
    height: 210px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #dfe9f5;
}

.wrapper {
  width: 330px;
  padding: 2rem 0 1rem 0;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  color: #07001f;
}

p {
  margin-bottom: 1.7rem;
}

form input{
  width: 85%;
  outline: none;
  border: none;
  background: #dfe9f5;
  padding: 12px 14px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.recover {
  text-align: right;
  font-size: 0.8rem;
  margin: 0.2rem 1.7rem 0 0;
}

.recover a {
  text-decoration: none;
  color: #07001f;
}

button {
  font-size: 1.1rem;
  margin-top: 1rem;
  padding: 8px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 50%;
  background: #2D5bf6;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: rgba(45, 91, 246, 0.767);
}

.or {
  font-size: 0.8rem;
  margin-top: 1.5rem;
}

.icons i{
  color: #07001f;
  padding: 00.8rem 1.5rem;
  border-radius: 10px;
  margin-left: 0.9rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid #dfe9f5;
}

.icons i:hover{
  color: #fff;
  background: #07001f;
  transition: 1s;
}

.icons i:first-child{
  color: green;
}

.icons i:last-child{
  color: blue;
}

.not-member {
  font-size:  0.8rem;
  margin-top: 1.4rem;
}

.not-member  a{
  color: #2D5bf6;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}
.b_donate-etc .box {
    height: 170px;
    width: 250px;
    border: 2px solid cadetblue;
    text-align: center;
    padding: 8px 6px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px cadetblue;
}

#box-1 {
    background-color: white;
    color: black;
    font-weight: 700;
    
}

.b_donate-etc .box i {
    font-size: 45px;
    ;
}

.b_donate-etc .box h2 {
    padding-top: 10px;
    font-size: 23px;
    font-weight: 500;
}

.b_donate-etc a {
    text-decoration: none;
}
.b_donate-etc .box-1:hover {
  transform: scale(1.1);
  transition: all;
  transition-timing-function: linear;
  transition-duration: .90s;
 
  background: #5F9EA0;
  color:white;
}

.b_donate-etc .box:hover {
    transform: scale(1.1);
    transition: all;
    transition-timing-function: linear;
    transition-duration: .90s;
   
    background: #5F9EA0;
    color:white;
}
.b_donate-etc .icon-wrapper .icon i {
  display: inline-block;
  width: 75px;
  height: 75px;
  margin-bottom: 15px;
  line-height: 75px;
  border-radius: 50%;
  background: rgba(236, 239, 241, 0.866);
  font-size: 30px;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2);
  color: #5F9EA0;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    padding-top: 40px;

}

.footer h3 {
    padding-bottom: 10px;
    ;
    font-weight: 700;
    font-family: poppins;
}

.footer h4 {
    padding-top: 2px;
}

.icons i:first-child {
    color: blue;
}

.last-part {
    height: 60px;
    width: 100%;
    background-color: black;
    text-align: center;
    /* padding-top:6px; */
    color: white;
}

.last-part h3 {
    padding-top: 6px;
}

.last-part a {
    text-decoration: none;
    color: skyblue;
    padding-top: 4px;
}

/* BLOOD AVILITY PAGE START */
.B-content {
    margin-top: 20px;
    height: 150px;
    width: 94%;
    border: 1px solid black;
    /* padding-top:10px; */
}

.Avilibility_form {
    border: 2px solid cadetblue;
}

#con-f {
    padding-left: 37px;
    padding-top: 20px;
    font-size: 28px;
    font-family: poppins;
    font-weight: 700;
    color: cadetblue;
    letter-spacing: 2px;
}

.B_HEAD {
    height: 50px;
    width: 100%;
    background-color: cadetblue;
    padding: 10px 20px;
    color: white;
    font-size: 19px;
    ;

}

.b-contents {
    display: flex;
    justify-content: center;
    /* padding-top:20px; */
}

.selects {
    padding-top: 20px;
    display: flex;
    ;
    justify-content: space-around;
    align-items: center;
    /* padding:0px 20px; */
}

.selects select {
    height: 35px;
    width: 250px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0px 0px 1.99px black;
}

.selects select:active {
    box-shadow: 0px 0px 14px skyblue;

}

.avilibility-btn button {
    height: 45px;
    width: 150px;
    border-radius: 5px;
    background-color: cadetblue;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-weight: 500;
}

.avilibility-btn {
    display: flex;
    justify-content: center;
    padding-top: 19px;

}

.footer h4:hover {
    transform: translateX(5px);
}

.col-wrapper {
  display: flex;
}
.col-wrapper .col-1 {
  width: 25%;
}
.col-wrapper .col-1 .logo {
  display: flex;
  align-items: center;
}
.col-wrapper .col-1 .logo span {
  font-size: 40px;
  margin-left: 15px;
  color: #3ed1cc;
}
.col-wrapper .col-1 .logo img {
  width: 50px;
}
.col-wrapper .col-1 li {
  margin-bottom: 15px;
}
.col-wrapper .col-1 li a {
  font-size: 14px;
  font-weight: 900;
  color: #999;
  transition: all ease-in-out 300ms;
}
.col-wrapper .col-1 li a:hover {
  color: #3ed1cc;
}
.col-wrapper .col-1 li a.header {
  color: black;
  font-size: 16px;
  font-weight: 900;
  font-letter-spacing: 2px;
  text-transform: uppercase;
}

#social-media {
  padding: 30px 0px;
}
#social-media .social-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#social-media .social-wrapper .copyright {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #999;
  letter-spacing: 2px;
}
#social-media .social-wrapper .icons i {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #999;
  margin: 0px 10px;
  border-radius: 50%;
  line-height: 40px;
  font-size: 20px;
  color: #3ed1cc;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}
#social-media .social-wrapper .icons i:hover {
  background: #3ed1cc;
  color: white;
  border: 1px solid white;
}
#social-media .slug {
  display: flex;
  align-items: center;
}
#social-media .slug span {
  color: #999;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
}
#social-media .slug img {
  width: 20px;
  margin-left: 15px;
}

#how-it-works {
  padding: 100px 0px;
}
#how-it-works .intro {
  margin-bottom: 100px;
  font-size: 25px;
  color: #999;
  display: flex;
  align-items: center;
}
#how-it-works .intro span {
  color: cadetblue;
  display: inline-block;
  margin-left: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 900;
}
#how-it-works .intro span i {
  font-size: 10px;
  margin-left: 10px;
}
#how-it-works .slug {
  text-transform: uppercase;
  text-align: center;
  color: #999;
  letter-spacing: 2px;
}
#how-it-works .title {
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
}
#how-it-works .content {
  width: 740px;
  margin: 0 auto 100px;
  text-align: center;
  font-size: 20px;
  line-height: 1.4;
}
#how-it-works .icon-wrapper {
  display: flex;
  justify-content: space-around;
  width: 900px;
  margin: 0 auto;
  max-width: 95%;
}
#how-it-works .icon-wrapper .icon {
  text-align: center;
}
#how-it-works .icon-wrapper .icon i {
  display: inline-block;
  width: 75px;
  height: 75px;
  margin-bottom: 15px;
  line-height: 75px;
  border-radius: 50%;
  background: white;
  font-size: 30px;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2);
  color: cadetblue;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}
#how-it-works .icon-wrapper .icon i:hover {
  background: cadetblue;
  color: white;
}
#how-it-works .icon-wrapper .icon p {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
}

#question {
  background: cadetblue;
  padding: 150px 0px;
}
#question .title {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  color: #999;
  margin-bottom: 20px;
  color: white;
}
#question .content {
  width: 640px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.2;
  font-size: 18px;
  margin-bottom: 80px;
  color: white;
}
#question .form {
  width: 640px;
  margin: 0 auto;
  position: relative;
}
#question .form input {
  width: 100%;
  padding: 20px 0px;
  outline: none;
  border: none;
  text-indent: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 5px rgba(0, 0, 0, 0.1);
}
#question .form i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: #3ed1cc;
  font-size: 18px;
}

#talk .col-wrapper {
  display: flex;
  min-height: 500px;
}
#talk .col-wrapper .col-50 {
  width: 50%;
  padding: 50px;
}
#talk .col-wrapper .col-50:nth-child(2) {
  background-image: url(https://stage.webpsychology.com/sites/default/files/article_images/shutterstock_84259324.jpg);
  size: cover;
  position: top;
}
#talk .title {
  font-size: 40px;
  margin: 80px 0px 20px 20px;
}
#talk .content {
  font-size: 18px;
  line-height: 1.3;
  max-width: 540px;
}
#talk .options {
  margin-top: 50px;
}
#talk .options li {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#talk .options li span {
  margin-right: 10px;
  color: #3ed1cc;
}

#signup {
  padding: 100px 0px;
}
#signup .slug {
  text-transform: uppercase;
  color: #999;
  text-align: center;
  margin-bottom: 20px;
}
#signup .title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}
#signup .content {
  max-width: 640px;
  margin: 0 auto 50px;
  text-align: center;
  line-height: 1.5;
}
#signup .button-wrapper {
  text-align: center;
}
#signup .button-wrapper button {
  outline: none;
  border: none;
  padding: 30px 50px;
  margin: 0px 20px;
  color: white;
  text-transform: uppercase;
  border-radius: 50px;
  background: white;
  color: #3ed1cc;
  border: 2px solid #3ed1cc;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all ease-in-out 300ms;
}
#signup .button-wrapper button:hover {
  background: #3ed1cc;
  color: white;
}

@media (max-width: 750px) {
  .main-header .app-icons {
    display: none;
  }
  .main-header .nav {
    display: none;
  }
  .main-header .menu {
    display: block;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }
  .main-header .container .logo img {
    width: 40px;
  }
  .main-header .container .logo span {
    font-size: 30px;
    margin-left: 10px;
  }
  .main-header .content .content-wrapper .blob {
    font-size: 40px;
    text-align: center;
  }
  .main-header .content .content-wrapper .button-wrapper {
    justify-content: center;
  }
  .main-header .content .content-wrapper .button-wrapper .button {
    font-size: 10px;
    padding: 20px 10px;
  }

  .footer {
    padding: 10px 0px;
  }
  .footer .col-wrapper {
    display: block;
  }
  .footer .col-wrapper .col-1 {
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer .col-wrapper .col-1:last-child {
    margin-bottom: 0px;
  }
  .footer .col-wrapper .logo {
    display: block;
  }
  .footer .col-wrapper .logo img {
    width: 50px;
    display: block;
    margin: 0 auto;
  }
  .footer .col-wrapper .logo span {
    font-size: 40px;
  }

  #social-media {
    padding: 0px;
  }
  #social-media .social-wrapper {
    display: block;
    text-align: center;
  }
  #social-media .social-wrapper .slug {
    display: block;
  }
  #social-media .social-wrapper .icons {
    margin: 20px 0px;
  }

  #how-it-works {
    padding: 40px 20px;
  }
  #how-it-works .intro {
    font-size: 20px;
    margin-bottom: 30px;
  }
  #how-it-works .intro span {
    margin-left: 5px;
    font-size: 12px;
  }
  #how-it-works .slug {
    color: black;
    font-size: 14px;
  }
  #how-it-works .title {
    font-size: 30px;
  }
  #how-it-works .content {
    max-width: 360px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  #how-it-works .icon-wrapper {
    display: block;
    width: 100%;
  }
  #how-it-works .icon-wrapper .icon {
    width: 100%;
  }
  #how-it-works .icon-wrapper .icon i {
    font-size: 20px;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  #how-it-works .icon-wrapper .icon p {
    font-weight: 300;
  }

  #question {
    padding: 20px 0px 80px;
  }
  #question .title {
    font-size: 30px;
  }
  #question .content {
    max-width: 450px;
    font-size: 16px;
    margin-bottom: 30px;
  }
  #question .form {
    max-width: 360px;
  }
  #question .form input {
    padding: 10px;
  }

  #talk {
    padding: 20px 30px;
  }
  #talk .title {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
  }
  #talk .content {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    font-line-height: 1.5;
  }
  #talk .col-wrapper {
    display: block;
  }
  #talk .col-wrapper .col-50 {
    width: 100%;
    padding: 20px 0px;
  }
  #talk .col-wrapper .col-50:last-child {
    min-height: 400px;
    padding: 0px 30px;
    background-position: top left;
  }

  #signup {
    padding: 20px;
  }
  #signup .slug {
    font-size: 14px;
    margin-bottom: 10px;
  }
  #signup .title {
    font-size: 30px;
  }
  #signup .content {
    font-size: 14px;
  }
  #signup .button-wrapper button {
    font-size: 12px;
    padding: 20px 20px;
    margin: 0px 5px;
  }
}
