body{
  background-color:cadetblue;
}
.details{
  border-radius: 25px;
  background-color: cadetblue;
  width: 75%;
  margin: 100px auto 100px auto;
}
h1{
  text-align: center;
}
hr{
  border-style: dotted none none;
  border-bottom: none;
  border-color: rgb(42, 89, 165);
  border-width: 5px;
  width: 50%;
}
p{
  padding: 15px;
  line-height: 1.5;
}
